<template>
  <div class="list">
    <div class="list-item"
         v-for="(recipe) of recipes"
         :key="recipe.id"
         @click="() => onRecipeClick(recipe.id)">
      <div class="list-item-content breadcrumb">
        <div class="item-title">
          {{recipe.name}}
        </div>
        <div class="item-description">
          {{recipe.categories.map(category => category.name).join('/')}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
        props: ['recipes'],
        name: 'recipesList',
        data() {
            return {}
        },
        methods: {
            onRecipeClick(id) {
                this.$router.push({path: `/recipe/${id}`});
            }
        },
        components: {}
    }
</script>

<style scoped>

  .breadcrumb {
    cursor: pointer;
  }

  .breadcrumb:hover {
    background-color: #333;
  }

  .list {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .list-item {
    margin-bottom: 2px;
    width: 100%;
  }

  .list-item-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .item-title {
    font-size: 20px;
    line-height: 26px;
  }

  .item-description {
    font-size: 14px;
    color: darkgray;
  }
</style>
