<template>
  <div class="page-row">
    <RecipesSearchForm class="search-form"
                       @reset="loadRecipes"
                       @filter-recipes="loadRecipesByCategoriesAndProducts"/>
    <RecipesList class="recipes-list"
                 :recipes="recipes"/>
  </div>
</template>

<script>
    import RestService from "@/service/RestService";
    import RecipesList from "./RecipesList";
    import RecipesSearchForm from "./RecipesSearchForm";

    export default {
        name: 'recipes',
        data() {
            return {
                recipes: []
            }
        },
        methods: {
            loadRecipes() {
                RestService.getRecipes().then((response) => this.recipes = response.data);
            },

            loadRecipesByCategoriesAndProducts(dto) {
                RestService.getRecipesByCategoriesAndProducts(dto).then((response) => this.recipes = response.data);
            },

        },
        mounted: function () {
            this.loadRecipes();
        },
        components: {
            RecipesList,
            RecipesSearchForm
        }
    }
</script>

<style scoped>
  .page-row {
    display: flex;
    flex-direction: row;
  }

  .search-form {
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
  }

  .recipes-list {
    width: 74%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
  }

</style>
