<template>
  <div>
    <div class="categories">
      <h3>{{recipe.categories.map(category => category.name).join(' &#183 ')}}</h3>
    </div>
    <h1>{{recipe.name}}</h1>

    <table class="table table-hover">
      <thead>
      <tr class="active">
        <th class="th-color-reset" scope="col">Продукт</th>
        <th class="th-color-reset" scope="col">Количество</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-success"
          v-for="(ingredient, i) of recipe.ingredients">
        <td class="td-color-reset">{{ingredient.productDto.name}}</td>
        <td class="td-color-reset">{{ingredient.amount}} {{ingredient.measure}}</td>
      </tr>
      </tbody>
    </table>

    <div class="steps">
      <div class="breadcrumb" v-for="(step, i) of recipe.steps">
        <span class="step-number">{{step.stepNumber}}</span>
        <span class="step-description">{{step.description}}</span>
      </div>
    </div>
  </div>
</template>
<script>
    import RestService from "../../service/RestService";

    export default {
        props: ['id'],
        name: 'recipe',
        data() {
            return {
                recipe: {
                    categories: [],
                    steps: [],
                    ingredients: [],
                    name: ''
                }
            }
        },
        mounted() {
            RestService.getRecipeById(this.id).then((response) => this.recipe = response.data);
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1 {
    text-align: center;
  }

  .categories {
    color: darkgray;
    text-align: center;
  }

  .table {
    margin: 20px 3%;
    width: 94%;
  }

  .td-color-reset {
    background-color: darkslategray;
  }

  .th-color-reset {
    background-color: teal;
  }

  .steps {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    margin-left: 3%;
  }

  .breadcrumb {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: nowrap;
  }

  .step-number {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
  }

  .step-description {
    font-size: 18px;
    font-weight: bold;
  }
</style>
