<template>
  <div class="breadcrumb">

    <!--форма для ввода названия ингредиентов-->
    <div class="container-item">
      <label class="typo__label"><h5>Выберете ингредиенты</h5></label>
      <multiselect v-model="selectedProducts"
                   :options="products"
                   :multiple="true"
                   :close-on-select="false"
                   :clear-on-select="false"
                   :preserve-search="true"
                   placeholder="Выберите ингредиенты"
                   label="name"
                   track-by="name"
                   :class="productsMultiselectClass"
                   :style="multiselectStyle"
                   @open="onProductsMultiselectOpened"
                   @close="onProductsMultiselectClosed"
                   :preselect-first="true">
        <template slot="selection"
                  slot-scope="{ values, search, isOpen }">
            <span class="multiselect__single"
                  v-if="values.length &amp;&amp; !isOpen">
              {{ values.length }} options selected
            </span>
        </template>
      </multiselect>
    </div>
    <!--форма для выбора категорий-->

    <div class="container-item " ref="container">
      <label class="typo__label"><h5>Выберите категории рецепта</h5></label>
      <multiselect v-model="selectedCategories"
                   :options="categoriesList"
                   :multiple="true"
                   :close-on-select="false"
                   :clear-on-select="false"
                   :preserve-search="true"
                   placeholder="Выберите категории"
                   label="name"
                   track-by="name"
                   :class="categoriesMultiselectClass"
                   :style="multiselectStyle"
                   @open="onCategoriesMultiselectOpened"
                   @close="onCategoriesMultiselectClosed"
                   :preselect-first="true">
        <template slot="selection" slot-scope="{ values, search, isOpen }">
          <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
            {{ values.length }} options selected
          </span>
        </template>
      </multiselect>
    </div>


    <button type="button"
            class="form-control btn btn-primary"
            @click="onShowClick"
            :disabled="!isAllValid()">
      Показать список
    </button>

    <button type="button"
            class="form-control btn btn-primary"
            @click="onResetClick"
            :disabled="!isAnythingChosen()">
      Сбросить
    </button>

  </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import RestService from "../../service/RestService";

    export default {
        name: 'recipesSearchForm',
        data() {
            return {
                selectedProducts: [],
                products: [],

                selectedCategories: [],
                categoriesList: [],

                categoriesMultiselectOpened: false,
                productsMultiselectOpened: false,
                multiselectStyle: {},

                isChosen: false,

                dto: {
                    productIds: [],
                    categoryIds: []
                },
            }
        },
        methods: {
            onShowClick() {
                this.dto.productIds = this.selectedProducts.map((item) => item.id.toString());
                this.dto.categoryIds = this.selectedCategories.map((item) => item.id.toString());
                this.$emit('filter-recipes', {...this.dto});

                this.dto = {};
                this.selectedProducts = [];
                this.selectedCategories = [];

                this.isChosen = true;
            },

            isAllValid() {
                const isEmpty = (value) => value && value !== '' && value.length > 0;
                return isEmpty(this.selectedProducts) || isEmpty(this.selectedCategories);
            },
            onCategoriesMultiselectOpened() {
                this.categoriesMultiselectOpened = true;
            },

            onCategoriesMultiselectClosed() {
                this.categoriesMultiselectOpened = false;
            },
            onProductsMultiselectOpened() {
                this.productsMultiselectOpened = true;
            },

            onProductsMultiselectClosed() {
                this.productsMultiselectOpened = false;
            },

            updateMultiselectStyle() {
                this.multiselectStyle = {width: this.$refs.container.clientWidth + 'px'};
            },
            onResetClick() {
                this.isChosen = false;
                this.$emit('reset');
            },

            isAnythingChosen() {
                return this.isChosen;
            }
        },
        computed: {
            categoriesMultiselectClass() {
                return {
                    'multiselect-closed': !this.categoriesMultiselectOpened,
                    'multiselect-opened': this.categoriesMultiselectOpened
                }
            },
            productsMultiselectClass() {
                return {
                    'multiselect-closed': !this.productsMultiselectOpened,
                    'multiselect-opened': this.productsMultiselectOpened
                }
            }
        },
        mounted: function () {
            RestService.getProducts().then((response) => this.products = response.data);
            RestService.getCategories().then((response) => this.categoriesList = response.data);

            this.updateMultiselectStyle();
        },

        components: {
            Multiselect
        },

    }
</script>

<style scoped>

  .container-item {
    margin-bottom: 20px;
    width: 100%;
    min-height: 95px;

  }

  .btn {
    margin-bottom: 10px;
  }

  .multiselect-closed {
    position: relative;
  }

  .multiselect-opened {
    position: absolute;
  }

  input, select {
    height: 43px;
  }
</style>
