<template>
  <div class="add-ingredient">
    <div class="form-row">

      <!--форма для ввода названия продукта-->

      <div class="container-item">
        <label class="typo__label"><h5>Выберете продукт</h5></label>
        <multiselect v-model="selectedProduct"
                     :options="products"
                     placeholder="Выберите продукт"
                     label="name"
                     track-by="name"></multiselect>
      </div>

      <!--форма для выбора меры-->

      <div class="container-item">
        <label for="select"><h5>Выберите меру</h5></label>
        <select class="form-control" id="select" v-model="ingredient.measure">
          <option disabled value="">Не выбрано</option>
          <option v-for="(measure) of measures">{{measure}}
          </option>
        </select>
      </div>

      <!--форма для ввода количества -->

      <div class="container-item">
        <label for="inputAmount">
          <h5>Введите количество</h5>
        </label>
        <input v-model="ingredient.amount"
               type="text"
               :class="{'is-valid': isValidAmount, 'is-invalid': isInvalidAmount}"
               @change="checkIsNumberAmount"
               class="form-control"
               placeholder="Количество"
               id="inputAmount">
        <div class="valid-feedback">Success</div>
        <div class="invalid-feedback">It's not a number</div>
      </div>
    </div>

    <button type="button"
            class="form-control btn btn-primary"
            @click="onAddClick"
            :disabled="!isAllValid()">
      Добавить ингредиент
    </button>
  </div>

</template>

<script>
    import Multiselect from 'vue-multiselect';
    import RestService from "../../service/RestService";

    export default {
        props: ['products'],
        name: 'addIngredient',
        data() {
            return {
                selectedProduct: '',

                isValidAmount: false,
                isInvalidAmount: false,

                measures: [],
                selectedMeasure: '',

                ingredient: {
                    measure: '',
                    productDto: {},
                    amount: ''
                }
            }
        },
        methods: {
            onAddClick() {
                this.ingredient.productDto = this.products.find(item => item.name === this.selectedProduct.name);
                this.$emit('ingredient-added', {...this.ingredient});

                this.ingredient = {};
                this.selectedProduct = '';
                this.isValidAmount = false;
                this.isInvalidAmount = false;
            },

            isAllValid() {
                const isEmpty = (value) => value && value !== '';
                return this.isValidAmount && isEmpty(this.selectedProduct) && isEmpty(this.ingredient.measure)
                    && isEmpty(this.ingredient.amount);

            },

            checkIsNumberAmount() {
                this.isValidAmount = !isNaN(this.ingredient.amount) && this.ingredient.amount !== '';
                this.isInvalidAmount = isNaN(this.ingredient.amount);
            },
        },
        components: {
            Multiselect
        },
        created: function () {
            RestService.getMeasures().then((response) => this.measures = response.data);
        },

    }
</script>

<style scoped>
  .container-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 180px;
    min-height: 105px;
  }

  .btn {
    width: 40%;
    margin-top: 20px;
    min-width: 180px;
  }

  .form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-ingredient {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input, select {
    height: 43px;
  }
</style>
