<template>
  <div class="breadcrumb form-container ">
    <h4>Добавление нового продукта</h4>

    <!--форма для ввода название продукта-->

    <div class="container-item">
      <div class="form-group">
        <label class="col-form-label" for="inputName">
          <h5>Введите название продукта</h5>
        </label>
        <input v-model="dto.name"
               type="text"
               class="form-control"
               placeholder="Введите название продукта"
               id="inputName">
      </div>
    </div>

    <button type="button"
            class="btn btn-primary"
            @click="onAddClick"
            :disabled="!isNameEmpty()">
      Добавить
    </button>
  </div>


</template>

<script>
    import RestService from "../../service/RestService";

    export default {
        name: 'addProduct',
        data() {
            return {
                dto: {
                    name: '',
                }
            }
        },
        methods: {
            onAddClick() {
                RestService.addProduct(this.dto).then(() =>{
                    this.$emit('product-added');
                    this.dto = {}
                });
            },

            isNameEmpty() {
                return (this.dto.name && this.dto.name !== '');
            },
        },
        components: {}
    }
</script>

<style scoped>
  h4 {
  }

  .breadcrumb {
    max-width: 290px;
    max-height: 300px;
    width: 25%;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .form-container {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
  }

  @media(max-width: 800px) {
    .breadcrumb {
      width: 90%;
      max-width: 90%;
    }
  }
</style>

