<template>
  <div class="page-container">
    <AddProduct @product-added="loadProducts"/>
    <AddRecipe :products="this.products"></AddRecipe>
  </div>
</template>

<script>
    import AddProduct from "./AddProduct";
    import AddRecipe from "./AddRecipe";
    import RestService from "../../service/RestService";

    export default {
        name: 'addRecipeOrProduct',
        data() {
            return {
                products: [],
            }
        },
        methods: {
            loadProducts() {
                RestService.getProducts().then((response) => this.products = response.data);
            }
        },

        mounted: function () {
            this.loadProducts();
        },

        components: {
            AddProduct,
            AddRecipe
        }

    }
</script>

<style scoped>

  .page-container {
    display: flex;
    flex-direction: row;
  }

  @media(max-width: 800px) {
    .page-container {
      flex-direction: column;
    }
  }

</style>
