<template>
  <div class="breadcrumb form-container">
    <h4>Добавление нового рецепта</h4>
    <div class="form-row">

      <!--форма для ввода названия рецепта-->

      <div class="container-item">
        <label for="inputName">
          <h5>Введите название рецепта</h5>
        </label>
        <input v-model="dto.name"
               type="text"
               class="form-control"
               placeholder="Название рецепта"
               id="inputName">
      </div>

      <!--форма для выбора категории-->

      <div class="container-item ">
        <label class="typo__label"><h5>Выберите категории рецепта</h5></label>
        <multiselect v-model="selectedCategories"
                     :options="categoriesList"
                     :multiple="true"
                     :close-on-select="false"
                     :clear-on-select="false"
                     :preserve-search="true"
                     placeholder="Выберите несколько"
                     label="name"
                     track-by="name"
                     :class="multiselectClass"
                     @open="onMultiselectOpened"
                     @close="onMultiselectClosed"
                     :preselect-first="true">
          <template slot="selection" slot-scope="{ values, search, isOpen }">
          <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
            {{ values.length }} options selected
          </span>
          </template>
        </multiselect>
      </div>
    </div>

    <hr size="10"/>

    <AddIngredient @ingredient-added="onIngredientAdded"
                   :products="products"/>

    <IngredientsList :ingredients="dto.ingredients"
                     @remove-ingredient="onIngredientRemove"/>

    <hr size="10"/>

    <AddStep @step-added="onStepAdded"/>
    <StepsList :steps="descriptions"
               @remove-step="onRemoveStep"/>

    <hr size="10"/>

    <div class="form-footer">
      <button type="button"
              class="btn btn-primary"
              @click="onAddClick"
              :disabled="!isAllValid()">
        Добавить рецепт
      </button>
    </div>
  </div>

</template>

<script>
    import RestService from "../../service/RestService";
    import AddIngredient from "./AddIngredient";
    import AddStep from "./AddStep";
    import Multiselect from 'vue-multiselect';
    import IngredientsList from "./IngredientsList";
    import StepsList from "./StepsList";

    export default {
        props: ['products'],
        name: 'addProduct',

        data() {
            return {
                stepsList: [],
                selectedCategories: [],
                descriptions: [],
                categoriesList: [],
                multiselectOpened: false,

                dto: {
                    name: '',
                    categories: [],
                    ingredients: [],
                    steps: [],
                }
            }
        },
        computed: {
            multiselectClass() {
                return {
                    'multiselect': true,
                    'multiselect-closed': !this.multiselectOpened,
                    'multiselect-opened': this.multiselectOpened
                }
            }
        },
        methods: {

            onAddClick() {
                this.dto.categories = this.selectedCategories;
                this.dto.steps = this.descriptions
                    .map((item, index) => ({
                        stepNumber: index,
                        description: item
                    }));

                const clearForm = () => {
                    this.dto = {
                        name: '',
                        categories: [],
                        ingredients: [],
                        steps: [],
                    };
                    this.selectedCategories = [];
                    this.descriptions = [];
                };

                RestService.addRecipe(this.dto).then(clearForm, clearForm);
            },

            isAllValid() {
                const isEmpty = (value) => value && value !== '' && value.length > 0;
                return isEmpty(this.dto.name) && isEmpty(this.selectedCategories)
                    && isEmpty(this.dto.ingredients) && isEmpty(this.descriptions);

            },

            onIngredientAdded(ingredient) {
                this.dto.ingredients.push(ingredient)
            },

            onIngredientRemove(index) {
                this.dto.ingredients.splice(index, 1);
            },

            onStepAdded(description) {
                this.descriptions.push(description);
            },

            onRemoveStep(index) {
                this.descriptions.splice(index, 1);
            },

            onMultiselectOpened() {
                this.multiselectOpened = true;
            },

            onMultiselectClosed() {
                this.multiselectOpened = false;
            },
        },
        created: function () {
            RestService.getCategories().then((response) => this.categoriesList = response.data);
        },
        components: {
            AddIngredient,
            AddStep,
            Multiselect,
            IngredientsList,
            StepsList,
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h4 {
    text-align: center;
  }

  .breadcrumb {
    flex-wrap: nowrap;
    width: 80%;
    margin-right: 20px;
    margin-top: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .btn {
    width: 40%;
    min-width: 180px;
  }

  .container-item {
    height: auto;
    display: inline-block;
    flex-direction: column;
  }

  hr {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 3px solid;
    color: #222;
  }

  .form-row {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    justify-content: space-between;
  }

  .form-footer {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .multiselect {
    max-width: 256px;
  }

  .multiselect-closed {
    position: relative;
  }

  .multiselect-opened {
    position: absolute;
  }

  textarea {
    height: 60px;
  }

  input {
    height: 43px;
  }

  @media (max-width: 800px) {
    .breadcrumb {
      max-width: 90%;
      width: 90%;
      margin-left: 20px;
    }
  }

</style>
