<template>
  <div class="add-step">
    <!--форма для ввода -->
    <div class="form-row-high">
      <div class="container-item container-item__wide">
        <h5>Введите описание шага</h5>
        <textarea class="form-control" id="exampleTextarea" rows="3" v-model="description"></textarea>
      </div>
    </div>

    <button type="button"
            class="btn btn-primary"
            @click="onAddClick"
            :disabled="!isDescriptionEmpty()">
      Добавить шаг
    </button>

  </div>

</template>

<script>

    export default {
        name: 'addStep',
        data() {
            return {
                description: '',
            }
        },
        methods: {
            onAddClick() {
                this.$emit('step-added', this.description);

                this.description = '';
            },

            isDescriptionEmpty() {
                return (this.description && this.description !== '');
            }
        },
        components: {}
    }
</script>

<style scoped>

  .add-step {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-item {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  .btn {
    width: 40%;
    margin-top: 20px;
    min-width: 180px;
  }

  .form-row-high {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width:100%;
  }

  .container-item__wide {
    width: 100%;
  }

</style>
