<template>
  <div class="ingredient-list">
    <table v-if="ingredients && ingredients.length > 0" class="table table-hover">
      <thead>
      <tr class="table-active">
        <th scope="col">Продукт</th>
        <th scope="col">Мера</th>
        <th scope="col">Кол-во</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-active"
          v-for="(ingredient, i) of ingredients">
        <td>{{ingredient.productDto.name}}</td>
        <td>{{ingredient.measure}}</td>
        <td>{{ingredient.amount}}</td>
        <td class="td-control">
          <button class="rm"
                  v-on:click="$emit('remove-ingredient', i)">
            &times;
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<script>

    export default {
        props: ['ingredients'],
        components: {},
        methods: {}
    }
</script>

<style scoped>
  .rm {
    background: cornflowerblue;
    color: #fff;
    border: none;
  }

  .ingredient-list {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .td-control {
    display: flex;
    flex-direction: row-reverse;
  }
</style>
