<template>
  <div class="steps-list">
    <table v-if="steps && steps.length > 0" class="table table-hover">
      <thead>
      <tr class="table-active">
        <th scope="col">Шаги рецепта</th>
        <th></th>
      </tr>
      </thead>
      <tbody style="background-color: #444">
      <tr class="table-active"
          v-for="(step, i) of steps">
        <td>{{step.toString()}}</td>
        <td class="td-control">
          <button class="rm"
                  v-on:click="$emit('remove-step', i)">
            &times;
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<script>

    export default {
        props: ['steps'],
        components: {},
        methods: {}
    }
</script>

<style scoped>
  .rm {
    background: cornflowerblue;
    color: #fff;
    border: none;
  }

  td {
    word-wrap: break-word;
  }

  .steps-list {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .td-control {
    display: flex;
    flex-direction: row-reverse;
  }
</style>
