<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">COOKBOOK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <router-link class="nav-link" to="/">СПИСОК РЕЦЕПТОВ<span class="sr-only">(current)</span></router-link>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <router-link class="nav-link" to="/add-recipe-or-product">ДОБАВЛЕНИЕ РЕЦЕПТА/ПРОДУКТА<span
              class="sr-only">(current)</span>
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
    <router-view/>
  </div>
</template>
<script>

    export default {
        name: 'App',
        data() {
            return {}
        },

        components: {}
    }

</script>
<style>
  .navbar-brand{
    font-weight: 600;
  }
  .nav-link{
    font-weight: 600;
  }
</style>




